body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.diva-info {
	margin-bottom: 15px;
}
.diva-info::first-line {
	font-weight: bold;
	font-size: 1.5em;
}
.editing .edit {
	display: block;
}
.editing .diva-info, .edit {
	display: none;
}