<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .list {
                margin: 10px;
            }
            iframe {
                margin-top: 10px;
            }
            #diva-finder {
                margin-bottom: 10px;
            }
            .box-shadow {
                -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.78);
                -moz-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.78);
                box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.78);
            }
        </style>
        <link rel="stylesheet" href="static/css/bootstrap-responsive.min.css">
        <script src="static/js/lib/less-1.3.0.min.js" type="text/javascript"></script>
        <link rel="stylesheet/less" type="text/css" href="static/css/main.less">
        <script src="static/js/lib/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>


        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Diva Power Hour</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Divas <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form pull-right">
                            <input class="span2" type="text" placeholder="Email">
                            <input class="span2" type="password" placeholder="Password">
                            <button type="submit" class="btn">Sign in</button>
                        </form>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="span12" id="diva-finder">
                    <input type="text" class="input-medium search-query" id="diva-input">
                    <button class="btn" id="diva-search">Search</button>
                </div>
            </div>
            <div class="row">
                <div class="span12" id="diva-results">
                </div>
            </div>
            <div class="row">
                <div class="span12" id="diva-videos">
                </div>
            </div>

        </div> <!-- /container -->

        {% raw %}
        <!-- templates -->
        <script type="text/template" id="tpl-proto">
        <span class="list" id=<%= ytid %>>
            <img src=<%= thumbnail %> class="box-shadow">
        </span>
        </script>

        <script type="text/template" id="tpl-proto-player">
        <div id=<%= ytid %>>
            <iframe class="box-shadow" width="560" height="365" src="http://www.youtube.com/embed/<%= ytid %>" frameborder="0" allowfullscreen></iframe>
        </div>
        </script>
        <!-- /templates -->
        {% endraw %}

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/lib/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="static/js/lib/underscore-min.js"></script>
        <script src="static/js/lib/backbone-min.js"></script>
        <script src="static/js/lib/bootstrap.min.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>

